In [1]:
# Import necessary lab
# We have parquet type data

import pyarrow.parquet as pq
import pandas as pd

data = "dataset.snappy.parquet"
df = pq.read_table(train).to_pandas()

In [2]:
df.head()

,date,referrer_url,current_url,page_type,product_price,cart_amount,userid,sessionid,search_words,old_product_price,product_category,page_category,productid
0,2020-02-06 09:11:12,9d206cbddfddaa97c20690adcd6ea802,006bde08100ccffb2fa8884e700a49f8,category,NaN,0.0,3649149be6ac6b2ded1ae8e5778e3f40,f67ed2ac99c1074b9f19cfe250db7f66,None,NaN,None,[6408EC06126E8040270C7E8AAF8FC685],None
1,2020-02-06 09:31:58,9d206cbddfddaa97c20690adcd6ea802,0da33cc234a95c72475b08138062184f,category,NaN,0.0,4972b982adf86f4f2949208f780bc7fa,726c29cc12d35d7d1bd6b9807ef80d02,None,NaN,None,[4B6DE4B085D3099FF02A6E1BCDC5D80A],None
2,2020-02-06 09:06:52,d41d8cd98f00b204e9800998ecf8427e,9d206cbddfddaa97c20690adcd6ea802,main,NaN,0.0,933513a2ab574affb218ec782411efe4,7f363cc0d075b82cd23cf9894b51a76b,None,NaN,None,None,None
3,2020-02-06 09:19:35,084bcd33c021da0af9a5565751ccb520,cb510a4ad895541025ff145a4d8622cb,productDetail,265000.0,0.0,84f7184f69b16aa251e49dae53aec70d,b78389be4460f6259488baa73ef4eeac,None,279000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[B17DAE0CE2664234BFC73EF642E06148]
4,2020-02-06 09:31:20,9d206cbddfddaa97c20690adcd6ea802,5b8ef12a316fe0225500902ecc2e9464,category,NaN,0.0,b2c7ef6fd61fb02b0da2b27da1a3202b,2b06b0e52bd7f6a8ff7c55042b8dccb9,None,NaN,None,[277188CEF1BF8E81FCE027D0D857FB3D],None

In [3]:
# Adding to date status like month, dayofweek, year

df['date'] = pd.to_datetime(df['date'])
df['date'] = pd.to_datetime(df['date'])

df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.dayofweek
df['year'] = df['date'].dt.year

In [4]:
df.head()

,date,referrer_url,current_url,page_type,product_price,cart_amount,userid,sessionid,search_words,old_product_price,product_category,page_category,productid,month,day,year
0,2020-02-06 09:11:12,9d206cbddfddaa97c20690adcd6ea802,006bde08100ccffb2fa8884e700a49f8,category,NaN,0.0,3649149be6ac6b2ded1ae8e5778e3f40,f67ed2ac99c1074b9f19cfe250db7f66,None,NaN,None,[6408EC06126E8040270C7E8AAF8FC685],None,2,3,2020
1,2020-02-06 09:31:58,9d206cbddfddaa97c20690adcd6ea802,0da33cc234a95c72475b08138062184f,category,NaN,0.0,4972b982adf86f4f2949208f780bc7fa,726c29cc12d35d7d1bd6b9807ef80d02,None,NaN,None,[4B6DE4B085D3099FF02A6E1BCDC5D80A],None,2,3,2020
2,2020-02-06 09:06:52,d41d8cd98f00b204e9800998ecf8427e,9d206cbddfddaa97c20690adcd6ea802,main,NaN,0.0,933513a2ab574affb218ec782411efe4,7f363cc0d075b82cd23cf9894b51a76b,None,NaN,None,None,None,2,3,2020
3,2020-02-06 09:19:35,084bcd33c021da0af9a5565751ccb520,cb510a4ad895541025ff145a4d8622cb,productDetail,265000.0,0.0,84f7184f69b16aa251e49dae53aec70d,b78389be4460f6259488baa73ef4eeac,None,279000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[B17DAE0CE2664234BFC73EF642E06148],2,3,2020
4,2020-02-06 09:31:20,9d206cbddfddaa97c20690adcd6ea802,5b8ef12a316fe0225500902ecc2e9464,category,NaN,0.0,b2c7ef6fd61fb02b0da2b27da1a3202b,2b06b0e52bd7f6a8ff7c55042b8dccb9,None,NaN,None,[277188CEF1BF8E81FCE027D0D857FB3D],None,2,3,2020

### - We can look some features

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349343 entries, 0 to 1349342
Data columns (total 16 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   date               1349343 non-null  datetime64[ns]
 1   referrer_url       1349343 non-null  object
 2   current_url        1349343 non-null  object
 3   page_type          1349343 non-null  object
 4   product_price      350448 non-null   float64
 5   cart_amount        1348945 non-null  float64
 6   userid             1349343 non-null  object
 7   sessionid          1349343 non-null  object
 8   search_words       69888 non-null    object
 9   old_product_price  342016 non-null   float64
 10  product_category   350442 non-null   object
 11  page_category      588939 non-null   object
 12  productid          390775 non-null   object
 13  month              1349343 non-null  int64
 14  day                1349343 non-null  int64
 15  year               1349343 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(9)
memory usage: 164.7+ MB

In [6]:
df["current_url"].value_counts()

9d206cbddfddaa97c20690adcd6ea802    110934
c861890005f903dc6bcd35beab148361     44012
68b449ca794ec705f46e84a40220b95a     34008
4773ed1df2073320ff56b33c645c2142     20642
e5243dd04dccf2a1f1b1f836fe1759bc     15899
                                     ...
36df7a54551d012049e46793e0b837e2         1
0f77edfb2f510d25be1271434d129697         1
7ac48508ccc870c3d14e9ea9c28984eb         1
d638546ebeae5a1e45b9132140418ea4         1
59feb22be5a072074b76def4e7e5a267         1
Name: current_url, Length: 128114, dtype: int64

In [7]:
df["current_url"].nunique()

128114

In [8]:
df["page_type"].value_counts()

category         588939
productDetail    350448
other            210092
main             150129
cart              44538
success            5197
Name: page_type, dtype: int64

In [9]:
df["page_type"].nunique()

6

### - First of all we need to find "churn status". If one customer made enter more than 5 days or equal to 5 days then "churn status" equal to 1, else 0.

In [10]:
import numpy as np

churn = df.groupby("userid")["day"].agg("nunique").copy()
churn = pd.DataFrame(churn)

x =  []

for i in churn.day.values:
    if i >= 5:
        x.append(1)
    else:
        x.append(0)
        

churn["churn_status"] = np.array(x)
churn.reset_index(inplace=True)
churn

                                  userid  day  churn_status
0       0000a8811d309d99bf87ec6680d38fe9    1             0
1       0001b5ef1ffaaac0fe452500cc588e8f    1             0
2       0001da844668450707f57217271faeb0    1             0
3       00026f0193aeaa73d3b01467110e25ac    1             0
4       000274bfd3306ab0c85b3813b21df110    1             0
...                                  ...  ...           ...
211938  ffff12a9624534cee93b8db6c39d4ea9    1             0
211939  ffff59c04692ebd2cf6ebb9f15e943c3    1             0
211940  ffff6c0f1da5a8ca4f56add8fdd479f7    1             0
211941  ffffadc2c938a3e2d59faf0261e2e5f5    1             0
211942  ffffe9508f286b6e389bfd1554428d66    1             0

[211943 rows x 3 columns]

In [11]:
# We have 1962 amounth of 1 and 209981 amont of 0.

new_df = churn.copy()

new_df.churn_status.value_counts()

0    209981
1      1962
Name: churn_status, dtype: int64

In [12]:
# Dataset features are very complex for this reason we'll create some extra features, now. 
## users' total sessions.
## users' previous session counts.
## users' current session counts. 


s_r_c = df.groupby("userid")[["sessionid","referrer_url","current_url"]].agg("nunique")
s_r_c.head()

                                  sessionid  referrer_url  current_url
userid
0000a8811d309d99bf87ec6680d38fe9          1             1            1
0001b5ef1ffaaac0fe452500cc588e8f          1             6            9
0001da844668450707f57217271faeb0          3             3            3
00026f0193aeaa73d3b01467110e25ac          1             1            1
000274bfd3306ab0c85b3813b21df110          1             1            1

In [13]:
new_df = new_df.merge(s_r_c,on="userid")
new_df.head()

,userid,day,churn_status,sessionid,referrer_url,current_url
0,0000a8811d309d99bf87ec6680d38fe9,1,0,1,1,1
1,0001b5ef1ffaaac0fe452500cc588e8f,1,0,1,6,9
2,0001da844668450707f57217271faeb0,1,0,3,3,3
3,00026f0193aeaa73d3b01467110e25ac,1,0,1,1,1
4,000274bfd3306ab0c85b3813b21df110,1,0,1,1,1

In [14]:
# The total of products viewed by each of the users. 


df[(df["page_type"] == "productDetail") & (df["product_price"] != 0)]

,date,referrer_url,current_url,page_type,product_price,cart_amount,userid,sessionid,search_words,old_product_price,product_category,page_category,productid,month,day,year
3,2020-02-06 09:19:35,084bcd33c021da0af9a5565751ccb520,cb510a4ad895541025ff145a4d8622cb,productDetail,265000.0,0.0,84f7184f69b16aa251e49dae53aec70d,b78389be4460f6259488baa73ef4eeac,None,279000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[B17DAE0CE2664234BFC73EF642E06148],2,3,2020
13,2020-02-06 09:41:21,a5b9dca442d1d38af805440f95f65570,621d9c1b0945f81ae99a19f7f70d89d3,productDetail,142000.0,0.0,10b3489feed37779caa9f8af82071298,2b756630852b256bea5a6455698448cf,None,150000.0,[65DF4451A9603BBAF66186AFCBD978AA],None,[2469E39C60B7DC336D6E54E9ACAA5994],2,3,2020
14,2020-02-06 09:45:28,d41d8cd98f00b204e9800998ecf8427e,49cefc4c80e5728b28a3a2ce3cfc6519,productDetail,3609000.0,0.0,d2ceb6155c0b2c0e5f70b2f361d7870d,fe3eecc8b0b6aa218d050ab168da2c82,None,3799000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[241C337D69170314A962EC0471DC4E85],2,3,2020
15,2020-02-06 09:03:45,d41d8cd98f00b204e9800998ecf8427e,ea47deaff9a9b4a9048b5fb2b0cc30ae,productDetail,2279000.0,0.0,873d06270a42c73c4076f4996da3ae6a,7a9d4a8a99bafe6daf1b2654aac5605b,None,2399000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[E3B6EC9F5B25579B5697ABB95CC8BA8B],2,3,2020
23,2020-02-06 10:00:04,b0a6aaf02c895f6bcab48dd20b082234,ed740e5fcb9d2a94669506489d4d1417,productDetail,560000.0,0.0,ea2e44f847cba854f09e8e77905dc602,71c607e558b8896976da4a6101b546d2,None,590000.0,[8355622EA1CD9AC32CF55472C1BA6333],None,[2EEEE70A05977E98FCFD1E06163209AB],2,3,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349324,2020-02-10 23:11:59,bfee07bdea10295ed7c855efadcaf945,937e572ad5343bda2ef5d0392e7dafc4,productDetail,474000.0,0.0,d14c607bf9704b5c5ee26ca166504dcd,55c4b8dffa8d1c6c9abc9da6899dd473,None,618000.0,[6408EC06126E8040270C7E8AAF8FC685],None,[28AF8AB844D5546E893DDA0C29DD5E49],2,0,2020
1349325,2020-02-10 23:15:35,7c93f76cffca042d053def0dbad4d1d0,53326dc37e996218e0fa127ef21fb4da,productDetail,979000.0,0.0,271c81c83a8197a478d7b36dd2e10a75,c71580f83dccdfa2913787bb596deebf,None,1448000.0,[6408EC06126E8040270C7E8AAF8FC685],None,[CFFAFCE7087953B3A5F481D8BA637BD3],2,0,2020
1349331,2020-02-10 23:23:04,2556f7994488d27161523ceb612979d5,78bf515d46a7589f3846c6e7eab97ebb,productDetail,1179000.0,0.0,a94b762f0dcb333007264f427b89d0aa,7ef3b21b6c0a349655f193d84723dd22,None,1758000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[FA98EBA2EC301DAEDBE80774A06993FB],2,0,2020
1349339,2020-02-10 23:49:07,9aa2e5c37acf47fbc9e928180ea6b987,f4b65b9f4c5db0ae29845b1a8eef4388,productDetail,285000.0,0.0,12ffba762f7781027da2ff2b87142eb8,01f572151a9690e9bbee9316cf209b28,None,300000.0,[53880D84BE78E03EDDA81FA5642A3915],None,[D0103F287011F0CF068C7E28215D5E32],2,0,2020
1349340,2020-02-10 23:49:32,f2ab74f74b986a4079020fb16582ced8,59c74d0a3e9a4d706077aefe82cbf5a2,productDetail,285000.0,0.0,12ffba762f7781027da2ff2b87142eb8,01f572151a9690e9bbee9316cf209b28,None,300000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[D05DA1A9C6ED6B8D14BC1876C6E59931],2,0,2020

In [15]:
# The total of products viewed by each of the users.
# One example for one user

df[(df["userid"] == "84f7184f69b16aa251e49dae53aec70d") & (df["page_type"] == "productDetail") & (df["product_price"] != 0)]

,date,referrer_url,current_url,page_type,product_price,cart_amount,userid,sessionid,search_words,old_product_price,product_category,page_category,productid,month,day,year
3,2020-02-06 09:19:35,084bcd33c021da0af9a5565751ccb520,cb510a4ad895541025ff145a4d8622cb,productDetail,265000.0,0.0,84f7184f69b16aa251e49dae53aec70d,b78389be4460f6259488baa73ef4eeac,None,279000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[B17DAE0CE2664234BFC73EF642E06148],2,3,2020
235,2020-02-06 09:27:25,c861890005f903dc6bcd35beab148361,42c47f1f12d9b9ee419c7fa7f7c9eda0,productDetail,303000.0,833000.0,84f7184f69b16aa251e49dae53aec70d,b78389be4460f6259488baa73ef4eeac,None,319000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[67032C02B858742B80D62DF763170C27],2,3,2020
368,2020-02-06 09:22:54,250de8a5a0d368674bda46318bde4a80,5e6930c4d9950ec9aa3456a3f116e8eb,productDetail,265000.0,0.0,84f7184f69b16aa251e49dae53aec70d,b78389be4460f6259488baa73ef4eeac,None,279000.0,[7A847E4B4DA8B3831D98F15AB139EB85],None,[1F432F54640AB2BB6EBEFA999FBD2AB1],2,3,2020
379,2020-02-06 09:13:50,9d206cbddfddaa97c20690adcd6ea802,1558ff25227ba4436c8f9c01e06e7c37,productDetail,285000.0,0.0,84f7184f69b16aa251e49dae53aec70d,b78389be4460f6259488baa73ef4eeac,None,300000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[48CDAD7DA1756A7BCC7ACBB4D76CA1D5],2,3,2020
390,2020-02-06 09:25:52,c861890005f903dc6bcd35beab148361,cb510a4ad895541025ff145a4d8622cb,productDetail,265000.0,568000.0,84f7184f69b16aa251e49dae53aec70d,b78389be4460f6259488baa73ef4eeac,None,279000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[B17DAE0CE2664234BFC73EF642E06148],2,3,2020
634,2020-02-06 09:21:51,84f7aa0288efe870f6f7abae5bfea810,b86818a48dbbd5d5fabe624d64c1010a,productDetail,502000.0,0.0,84f7184f69b16aa251e49dae53aec70d,b78389be4460f6259488baa73ef4eeac,None,529000.0,[EB3CF23DFD8C5713A0BBB570DE2EDB72],None,[E67F9CD84367728F31764AD71A0A94A6],2,3,2020
835,2020-02-06 09:24:40,c861890005f903dc6bcd35beab148361,42c47f1f12d9b9ee419c7fa7f7c9eda0,productDetail,303000.0,265000.0,84f7184f69b16aa251e49dae53aec70d,b78389be4460f6259488baa73ef4eeac,None,319000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[67032C02B858742B80D62DF763170C27],2,3,2020
951,2020-02-06 09:21:13,84f7aa0288efe870f6f7abae5bfea810,42c47f1f12d9b9ee419c7fa7f7c9eda0,productDetail,303000.0,0.0,84f7184f69b16aa251e49dae53aec70d,b78389be4460f6259488baa73ef4eeac,None,319000.0,[EB3CF23DFD8C5713A0BBB570DE2EDB72],None,[67032C02B858742B80D62DF763170C27],2,3,2020

In [16]:
# The total of products viewed by each of the users.
# One example for one user

df[(df["userid"] == "84f7184f69b16aa251e49dae53aec70d") & (df["page_type"] == "productDetail") & (df["product_price"] != 0)]["current_url"].nunique()

5

In [17]:
# We will integrate new_df with total_product_viewed them.


total_product_viewed = df[(df["page_type"] == "productDetail") & (df["product_price"] != 0)].groupby("userid")["current_url"].agg("nunique")
viewed = pd.DataFrame({"total_product_viewed":total_product_viewed})
viewed.head()

                                  total_product_viewed
userid
0001b5ef1ffaaac0fe452500cc588e8f                     4
00026f0193aeaa73d3b01467110e25ac                     1
000274bfd3306ab0c85b3813b21df110                     1
00029dba4da431ea002b2ab36b4c2a44                     1
00038d15e62405cd8a73699aaa023551                     1

In [18]:
new_df = new_df.merge(viewed,on="userid")
new_df

,userid,day,churn_status,sessionid,referrer_url,current_url,total_product_viewed
0,0001b5ef1ffaaac0fe452500cc588e8f,1,0,1,6,9,4
1,00026f0193aeaa73d3b01467110e25ac,1,0,1,1,1,1
2,000274bfd3306ab0c85b3813b21df110,1,0,1,1,1,1
3,00029dba4da431ea002b2ab36b4c2a44,1,0,2,4,5,1
4,00038d15e62405cd8a73699aaa023551,1,0,2,4,4,1
...,...,...,...,...,...,...,...
103716,fffad14174afb89be5cde04b29ebf7e5,1,0,2,12,12,1
103717,fffc455344bc63f22444d27967befe63,1,0,1,4,6,3
103718,fffe3c89b6bb5d24a5d169bbbe4ae3ad,1,0,2,6,6,3
103719,fffea9abd22c20ec2631644568bda9d3,1,0,1,1,1,1
103720,ffffe9508f286b6e389bfd1554428d66,1,0,2,5,7,3

In [19]:
# The total price of the product a user viewed.

df[(df["page_type"] == "productDetail") & (df["product_price"] != 0)]

,date,referrer_url,current_url,page_type,product_price,cart_amount,userid,sessionid,search_words,old_product_price,product_category,page_category,productid,month,day,year
3,2020-02-06 09:19:35,084bcd33c021da0af9a5565751ccb520,cb510a4ad895541025ff145a4d8622cb,productDetail,265000.0,0.0,84f7184f69b16aa251e49dae53aec70d,b78389be4460f6259488baa73ef4eeac,None,279000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[B17DAE0CE2664234BFC73EF642E06148],2,3,2020
13,2020-02-06 09:41:21,a5b9dca442d1d38af805440f95f65570,621d9c1b0945f81ae99a19f7f70d89d3,productDetail,142000.0,0.0,10b3489feed37779caa9f8af82071298,2b756630852b256bea5a6455698448cf,None,150000.0,[65DF4451A9603BBAF66186AFCBD978AA],None,[2469E39C60B7DC336D6E54E9ACAA5994],2,3,2020
14,2020-02-06 09:45:28,d41d8cd98f00b204e9800998ecf8427e,49cefc4c80e5728b28a3a2ce3cfc6519,productDetail,3609000.0,0.0,d2ceb6155c0b2c0e5f70b2f361d7870d,fe3eecc8b0b6aa218d050ab168da2c82,None,3799000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[241C337D69170314A962EC0471DC4E85],2,3,2020
15,2020-02-06 09:03:45,d41d8cd98f00b204e9800998ecf8427e,ea47deaff9a9b4a9048b5fb2b0cc30ae,productDetail,2279000.0,0.0,873d06270a42c73c4076f4996da3ae6a,7a9d4a8a99bafe6daf1b2654aac5605b,None,2399000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[E3B6EC9F5B25579B5697ABB95CC8BA8B],2,3,2020
23,2020-02-06 10:00:04,b0a6aaf02c895f6bcab48dd20b082234,ed740e5fcb9d2a94669506489d4d1417,productDetail,560000.0,0.0,ea2e44f847cba854f09e8e77905dc602,71c607e558b8896976da4a6101b546d2,None,590000.0,[8355622EA1CD9AC32CF55472C1BA6333],None,[2EEEE70A05977E98FCFD1E06163209AB],2,3,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349324,2020-02-10 23:11:59,bfee07bdea10295ed7c855efadcaf945,937e572ad5343bda2ef5d0392e7dafc4,productDetail,474000.0,0.0,d14c607bf9704b5c5ee26ca166504dcd,55c4b8dffa8d1c6c9abc9da6899dd473,None,618000.0,[6408EC06126E8040270C7E8AAF8FC685],None,[28AF8AB844D5546E893DDA0C29DD5E49],2,0,2020
1349325,2020-02-10 23:15:35,7c93f76cffca042d053def0dbad4d1d0,53326dc37e996218e0fa127ef21fb4da,productDetail,979000.0,0.0,271c81c83a8197a478d7b36dd2e10a75,c71580f83dccdfa2913787bb596deebf,None,1448000.0,[6408EC06126E8040270C7E8AAF8FC685],None,[CFFAFCE7087953B3A5F481D8BA637BD3],2,0,2020
1349331,2020-02-10 23:23:04,2556f7994488d27161523ceb612979d5,78bf515d46a7589f3846c6e7eab97ebb,productDetail,1179000.0,0.0,a94b762f0dcb333007264f427b89d0aa,7ef3b21b6c0a349655f193d84723dd22,None,1758000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[FA98EBA2EC301DAEDBE80774A06993FB],2,0,2020
1349339,2020-02-10 23:49:07,9aa2e5c37acf47fbc9e928180ea6b987,f4b65b9f4c5db0ae29845b1a8eef4388,productDetail,285000.0,0.0,12ffba762f7781027da2ff2b87142eb8,01f572151a9690e9bbee9316cf209b28,None,300000.0,[53880D84BE78E03EDDA81FA5642A3915],None,[D0103F287011F0CF068C7E28215D5E32],2,0,2020
1349340,2020-02-10 23:49:32,f2ab74f74b986a4079020fb16582ced8,59c74d0a3e9a4d706077aefe82cbf5a2,productDetail,285000.0,0.0,12ffba762f7781027da2ff2b87142eb8,01f572151a9690e9bbee9316cf209b28,None,300000.0,[53D8DE583EA7608B24D2AAF0EDD90F0B],None,[D05DA1A9C6ED6B8D14BC1876C6E59931],2,0,2020

In [20]:
df[(df["userid"] == "00026f0193aeaa73d3b01467110e25ac") & (df["page_type"] == "productDetail") & (df["product_price"] != 0)]["product_price"].unique().sum()

774000.0

In [21]:
# integrate with main dataframe

total_price_of_the_product_a_user_viewed  = df[(df["page_type"] == "productDetail") & (df["product_price"] != 0)].groupby("userid")["product_price"].agg("sum")
viewed_1 = pd.DataFrame({"total_price_of_the_product_a_user_viewed":total_price_of_the_product_a_user_viewed})
viewed_1.head()

                                  total_price_of_the_product_a_user_viewed
userid
0001b5ef1ffaaac0fe452500cc588e8f                                 1617000.0
00026f0193aeaa73d3b01467110e25ac                                  774000.0
000274bfd3306ab0c85b3813b21df110                                  911000.0
00029dba4da431ea002b2ab36b4c2a44                                  455000.0
00038d15e62405cd8a73699aaa023551                                  758000.0

In [22]:
new_df = new_df.merge(viewed_1,on="userid")
new_df

,userid,day,churn_status,sessionid,referrer_url,current_url,total_product_viewed,total_price_of_the_product_a_user_viewed
0,0001b5ef1ffaaac0fe452500cc588e8f,1,0,1,6,9,4,1617000.0
1,00026f0193aeaa73d3b01467110e25ac,1,0,1,1,1,1,774000.0
2,000274bfd3306ab0c85b3813b21df110,1,0,1,1,1,1,911000.0
3,00029dba4da431ea002b2ab36b4c2a44,1,0,2,4,5,1,455000.0
4,00038d15e62405cd8a73699aaa023551,1,0,2,4,4,1,758000.0
...,...,...,...,...,...,...,...,...
103716,fffad14174afb89be5cde04b29ebf7e5,1,0,2,12,12,1,474000.0
103717,fffc455344bc63f22444d27967befe63,1,0,1,4,6,3,1025000.0
103718,fffe3c89b6bb5d24a5d169bbbe4ae3ad,1,0,2,6,6,3,6213000.0
103719,fffea9abd22c20ec2631644568bda9d3,1,0,1,1,1,1,1044000.0
103720,ffffe9508f286b6e389bfd1554428d66,1,0,2,5,7,3,1898900.0

In [23]:
#  (The average price of the products viewed.)

new_df["The_average_price_of_the_products_viewed"] = new_df["total_price_of_the_product_a_user_viewed"] // new_df["total_product_viewed"]
new_df

,userid,day,churn_status,sessionid,referrer_url,current_url,total_product_viewed,total_price_of_the_product_a_user_viewed,The_average_price_of_the_products_viewed
0,0001b5ef1ffaaac0fe452500cc588e8f,1,0,1,6,9,4,1617000.0,404250.0
1,00026f0193aeaa73d3b01467110e25ac,1,0,1,1,1,1,774000.0,774000.0
2,000274bfd3306ab0c85b3813b21df110,1,0,1,1,1,1,911000.0,911000.0
3,00029dba4da431ea002b2ab36b4c2a44,1,0,2,4,5,1,455000.0,455000.0
4,00038d15e62405cd8a73699aaa023551,1,0,2,4,4,1,758000.0,758000.0
...,...,...,...,...,...,...,...,...,...
103716,fffad14174afb89be5cde04b29ebf7e5,1,0,2,12,12,1,474000.0,474000.0
103717,fffc455344bc63f22444d27967befe63,1,0,1,4,6,3,1025000.0,341666.0
103718,fffe3c89b6bb5d24a5d169bbbe4ae3ad,1,0,2,6,6,3,6213000.0,2071000.0
103719,fffea9abd22c20ec2631644568bda9d3,1,0,1,1,1,1,1044000.0,1044000.0
103720,ffffe9508f286b6e389bfd1554428d66,1,0,2,5,7,3,1898900.0,632966.0

In [55]:
# Now we are going to phase of ML techniques
# Importing some necessary things
# Also we will use validation set

from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler  
from sklearn.metrics import accuracy_score, classification_report

from warnings import filterwarnings
filterwarnings('ignore')

In [97]:
# I drop "userid","day","sessionid" beacuse these features could be overfit(I tried before and I saw that was true)

X_train,X_test,y_train,y_test = train_test_split(new_df.drop(["churn_status","userid","day","sessionid"],axis=1), 
                                                new_df["churn_status"],
                                                test_size=0.3,
                                                random_state=42)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=1)

In [98]:
X_train

,referrer_url,current_url,total_product_viewed,total_price_of_the_product_a_user_viewed,The_average_price_of_the_products_viewed
23933,8,8,1,1300000.0,1300000.0
94080,6,9,4,1621800.0,405450.0
68545,7,7,1,455000.0,455000.0
17021,5,5,1,617000.0,617000.0
49915,3,3,1,948000.0,948000.0
...,...,...,...,...,...
79837,4,5,1,285000.0,285000.0
84923,1,1,1,227000.0,227000.0
66688,1,1,1,759000.0,759000.0
16219,1,2,1,635000.0,635000.0
47569,5,8,1,882000.0,882000.0

In [99]:
X_test

,referrer_url,current_url,total_product_viewed,total_price_of_the_product_a_user_viewed,The_average_price_of_the_products_viewed
102374,3,3,1,600000.0,600000.0
42242,2,3,2,1346000.0,673000.0
78063,3,3,1,664000.0,664000.0
76496,9,10,4,1356000.0,339000.0
18086,1,1,1,474000.0,474000.0
...,...,...,...,...,...
401,1,1,1,1091000.0,1091000.0
68556,16,19,5,3922000.0,784400.0
23623,4,6,1,464000.0,464000.0
12307,33,43,15,27192000.0,1812800.0
101766,6,8,5,2652000.0,530400.0

In [65]:
y_train.value_counts()

0    53489
1      964
Name: churn_status, dtype: int64

In [66]:
y_test.value_counts()

0    30579
1      538
Name: churn_status, dtype: int64

In [67]:
y_val.value_counts()

0    17818
1      333
Name: churn_status, dtype: int64

In [109]:
pipe_ = make_pipeline(DecisionTreeClassifier())

In [110]:
pipe_.fit(X_train,y_train)

Pipeline(steps=[('decisiontreeclassifier', DecisionTreeClassifier())])

In [111]:
y_pred_val = pipe_.predict(X_val)

In [112]:
print(classification_report(y_pred_val,y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99     17796
           1       0.48      0.28      0.36       355

    accuracy                           0.98     18151
   macro avg       0.73      0.64      0.67     18151
weighted avg       0.98      0.98      0.98     18151

In [113]:
y_pred_test = pipe_.predict(X_test)

In [114]:
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99     30579
           1       0.29      0.30      0.29       538

    accuracy                           0.98     31117
   macro avg       0.64      0.64      0.64     31117
weighted avg       0.98      0.98      0.98     31117